@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary:#374151;
    --secondary:#E5E7EB;
    --pinklight:#D1D5DB;
    --light:#6542b8;

}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}
.container.container-center.bgblog
{
    background-color: rgb(174, 160, 187);
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 5rem;
    margin-bottom: 1rem; */
}
.sl{ 
    text-decoration: none;
    color: black;
    text-shadow: black;


}
    


.primary-link {
    background-color: var(--primary);
    border-radius: 0.5rem;
    color: white
}

.secondary-link {
    background-color: var(--secondary);
    border-radius: 0.5rem;
    border: 1px solid var(--primary);
    color: var(--primary);
}

/** look into BEM naming convention for CSS **/

/** lists **/

.no-bullet-li {
    list-style: none;
}

.inline-li {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.nav {
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav .nav-brand {
    font-weight: bold;
}

.nav .nav-pills {
    text-align: right;
}

.nav .link {
    color: white;
}

.nav .link-active {
    font-weight: bold;
}

/** header **/

.head {
    padding: 2rem;
    padding-top: 4rem;

}

.head .head-img {
    max-width: 350px;
    display: block;
    margin: auto;
    align-items: center;
}

.head .head-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--light);
}

.head .head-heading .heading-inverted {
    color: var(--primary);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.bg1 {
    background-color: var(--pinklight);
}
.bg2{
    background-color: white;
}

/** footers **/

.footer {
    background-color: var(--primary);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}


.bloghead
{
    
    height: 33px;
    text-align: left;
    background-color: var(--primary);
    margin: auto;
    padding: 1rem;
}
.blogimg
{
    max-width:630px;
    max-height: 250px;
    align-items: center;
    padding: 0.5 rem;
    margin:auto;
    display: block;
}
.bcon
{
    max-width: 630px;
    text-align:center justify;
    padding:1rem;
    display:block;
    margin: auto;
  
}
.bhead
{   text-align: center;
    color:brown;
}
.article{
    display: block;
}
.pro1{
    padding: 2rem;
}